@page "/counter"
@using GameIndustry.Services

@inject SingletonService singleton
@inject TransientService transient

<PageTitle>Counter</PageTitle>

<div class="row">
    <div class="col alert alert-secondary text-center">
        <h1>COUNTER</h1>
    </div>
</div>

<div class="row">
    <div class="col-6 text-start">
        <button class="btn btn-primary p-3" @onclick="IncrementCount">Click Me</button>
    </div>
    <div class="col-6 text-end">
        <div style="font-size: 50px;">@currentCount</div>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <input type="number" class="form-control-lg" @bind-value="currentCount" @bind-value:event="onchange"/>
    </div>
</div>

<div class="row mt-3">
    <div class="col-6 text-center alert alert-primary">
        Singleton count: @singleton.Value
    </div>
    <div class="col-6 text-center alert alert-danger">
        Transient count: @transient.Value
    </div>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        singleton.Value = currentCount;
        transient.Value = currentCount;
    }
}
