@page "/"

<div class="row">
    <div class="col text-center">
        <h1>Welcome to our Game Industry Page</h1>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h2>Show all games in MOCK Database:</h2>
    </div>
</div>

<GameListTable Games="games" />
    
<IndividualGame 
    Game="oneGameToShow" 
    IsTable="false"
    DisplayButtons="true"
    SwitchGame="ShowNewGame"/>

<div class="row">
    <div class="col text-center">
        <button class="btn btn-outline-primary" @onclick="AddNewGame">Add New Game</button>
    </div>
</div>

@code {
    private List<Game> games = new List<Game>();

    private Random rnd;
    private Game oneGameToShow;

    protected async override Task OnInitializedAsync()
    {
        // await Task.Delay(2000);
        games = new List<Game>()
        {
            new Game()
            {
                Name = "Farming Simulator 2019",
                Genre = "Simulator",
                ReleaseDate = new DateTime(2018, 11, 19)
            },
            new Game()
            {
                Name = "The Witcher 3",
                Genre = "Action/RPG",
                ReleaseDate = new DateTime(2015, 5, 18)
            },
            new Game()
            {
                Name = "Destroy All Humans",
                Genre = "Action/Adventure",
                ReleaseDate = new DateTime(2020, 7, 28)
            },
        };

        rnd = new Random(DateTime.Now.Microsecond);
        oneGameToShow = games[rnd.Next(0, games.Count)];
    }

    private void ShowNewGame()
    {
        oneGameToShow = SwitchGame();
    }

    private Game SwitchGame()
    {
        Game tempGame;

        if(games.Count >= 2)
        {
            int iterator = rnd.Next(0, games.Count);
            tempGame = games[iterator];
        }
        else if (games.Count == 1)
        {
            tempGame = games[0];
        }
        else
        {
            return new Game() { Name="No items in array", ReleaseDate=DateTime.Now };
        }

        return tempGame;
    }

    private void AddNewGame()
    {
        games.Add(new Game()
        {
            Name = "Game for test",
            Genre = "Test",
            ReleaseDate = DateTime.Today
        });
    }
}


