@page "/"


<PageTitle>Index</PageTitle>

<div class="row">
    <div class="col text-center">
        <h1>Welcome to our Game Industry Page</h1>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h2>Show all games in MOCK Database:</h2>
    </div>
</div>

<GameListTable Games="games">
    @* <NullList>
        <tr><span style="text-align: center; color: orangered; font-weight: bolder">Element Loading...</span></tr>
    </NullList> *@
    @* <EmptyList>
        <tr><span style="text-align: center; color: slateblue; font-weight: bolder">No elements in array.</span></tr>
    </EmptyList> *@
</GameListTable>

@* <IndividualGame 
    Game="_oneGameToShow" 
    IsTable="false" 
    IsDisplayButtons="true"
    SwitchGame="ShowNewGame"/> *@

@code
{
    private List<Game> games;
    private Random _rnd;
    private Game _oneGameToShow;

    // protected override void OnInitialized()
    // {
        
    //     games = new List<Game>()
    //     {
    //         new Game()
    //         {
    //             Name = "Русская рыбалка 4",
    //             Genre = "Simulator",
    //             ReleaseDate = new DateTime(2020, 03, 05)
    //         },
    //         new Game()
    //         {
    //             Name = "Farming Simulator 2019",
    //             Genre = "Simulator",
    //             ReleaseDate = new DateTime(2018, 11, 19)
    //         },
    //         new Game()
    //         {
    //             Name = "The Witcher 3",
    //             Genre = "Action/RPG",
    //             ReleaseDate = new DateTime(2015, 05, 18)
    //         },
    //         new Game()
    //         {
    //             Name = "Destroy All Humans!",
    //             Genre = "Action-Adventure",
    //             ReleaseDate = new DateTime(2020, 07, 28)
    //         }
    //     };

    //     _rnd = new Random(DateTime.Now.Millisecond);
    //     _oneGameToShow = games[_rnd.Next(0, games.Count)];
    // }

    private void ShowNewGame()
    {
        _oneGameToShow = SwitchGame();
    }

    private Game SwitchGame()
    {
        Game tempGame;

        if (games.Count >= 2)
        {
            int iterator = _rnd.Next(0, games.Count);
            tempGame = games[iterator];
        }
        else if (games.Count == 1)
        {
            tempGame = games[0];
        }
        else
        {
            return new Game(){Name = "No items in array", ReleaseDate = DateTime.Now};
        }

        return tempGame;
    }
}
