@page "/"
@using GameIndustry.Repository

@inject IRepository repository

<PageTitle>Index</PageTitle>

<div class="row">
    <div class="col text-center">
        <h1>Welcome to our Game Industry Page</h1>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h2>Show all games in MOCK Database:</h2>
    </div>
</div>

<GameListTable Games="games"/>

<IndividualGame 
    Game="_oneGameToShow" 
    IsTable="false" 
    IsDisplayButtons="true"
    SwitchGame="ShowNewGame"/>

<div class="row">
    <div class="col text-center">
        <button @onclick="AddNewGame" class="btn btn-success">Add New Game</button>
    </div>
</div>

@code
{
    private List<Game> games;
    private Random _rnd;
    private Game _oneGameToShow;

    protected override async Task OnInitializedAsync()
    {
        // await Task.Delay(3000);

        games = repository.GetAllGames();

        _rnd = new Random(DateTime.Now.Millisecond);
        _oneGameToShow = games[_rnd.Next(0, games.Count)];
    }

    private void ShowNewGame()
    {
        _oneGameToShow = SwitchGame();
    }

    private Game SwitchGame()
    {
        Game tempGame;

        if (games.Count >= 2)
        {
            int iterator = _rnd.Next(0, games.Count);
            tempGame = games[iterator];
        }
        else if (games.Count == 1)
        {
            tempGame = games[0];
        }
        else
        {
            return new Game(){Name = "No items in array", ReleaseDate = DateTime.Now};
        }

        return tempGame;
    }

    private void AddNewGame()
    {
        games.Add(new Game(){ Name = "Gme for test", Genre = "Test", ReleaseDate = DateTime.Now});
    }
}
