@if (_displayConfirmation)
{
    <div class="modal-backdrop show"></div>

    <div class="modal fade show"
         id="exampleModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModal"
         aria-hidden="true"
         style="display: block">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Title</h5>
                    <button class="btn-close" type="button" @onclick="OnCancel"></button>
                </div>
                <div class="modal-body">
                    @ChildContent
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" @onclick="OnConfirm">Yes! Delete</button>
                    <button class="btn btn-secondary" type="button" @onclick="OnCancel">Cancel</button>
                </div>
            </div>
        </div>

    </div>
}

@code {
    private bool _displayConfirmation = false;

    [Parameter]
    public string Title { get; set; } = "Confirm";
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public EventCallback OnConfirm { get; set; }
    [Parameter]
    public EventCallback OnCancel { get; set; }

    public void Show() => _displayConfirmation = true;
    public void Hide() => _displayConfirmation = false;

}
