<div class="table-responsive mt-4">
    <table class="table table-striped">
        <thead class="bg-dark text-light">
            <tr>
                <th>Name</th>
                <th>Genre</th>
                <th>Relese Date</th>
                <th>
                    <input type="checkbox" @bind="displayButtons" />
                </th>
            </tr>
        </thead>
        <tbody>
            <GenericList ListOfItems="Games">
                <ItemTemplate Context="game">
                    <IndividualGame Game="game" IsTable="true" DisplayButtons="displayButtons" DeleteGame="DeleteGame" />
                </ItemTemplate>
            </GenericList>

            <Confirmation @ref="_confirmation"
                          Title="Confirm delete game."
                          OnConfirm="OnConfirm"
                          OnCancel="OnCancel">
                <div class="text-danger">Do you wish to delete @_gameToBeDeleted.Name ?</div>
            </Confirmation>
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public List<Game> Games { get; set; }
    private bool displayButtons = false;

    public void DeleteGame(Game game)
    {
        _gameToBeDeleted = game;
        _confirmation.Show();
    }

    protected override void OnInitialized()
    {
        Console.WriteLine($"1. OnInitialized. Games Count: {Games?.Count}");
    }

    protected override void OnParametersSet()
    {
        Console.WriteLine($"2. OnParametersSet. Games Count: {Games?.Count}");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine($"3. OnAfterRender. Games Count: {Games?.Count}, firstRender: {firstRender}");
    }

    protected override bool ShouldRender()
    {
        return true;
    }

    private Confirmation _confirmation;
    private Game? _gameToBeDeleted;

    private void OnConfirm()
    {
        Games.Remove(_gameToBeDeleted);
        _confirmation.Hide();
        _gameToBeDeleted = null;
    }

    private void OnCancel()
    {
        _confirmation.Hide();
        _gameToBeDeleted = null;
    }

}
