<div class="table-responsive mt-4">
    <table class="table table-striped">
        <thead class="bg-dark text-light">
            <tr>
                <th>Name</th>
                <th>Genre</th>
                <th>Relese Date</th>
                <th>
                    <input type="checkbox" @bind="displayButtons"/>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Games == null)
            {
                @NullList
            }
            else if (Games.Count == 0)
            {
                @EmptyList
            }
            else
            {
                @foreach (var item in Games)
                {
                    <IndividualGame 
                        Game="item" 
                        IsTable="true"
                        DisplayButtons="displayButtons"
                        DeleteGame="DeleteGame"/>
                }
            }

        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public List<Game> Games { get; set; } = new List<Game>();
    [Parameter]
    public RenderFragment NullList { get; set; }
    [Parameter]
    public RenderFragment EmptyList { get; set; }

    private bool displayButtons = false;

    public void DeleteGame(Game game)
    {
        Games.Remove(game);
    }
}
